<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted text-center w-100 d-block">
      Copyright &copy; 2024 Knowledge Share Team.
    </span>
  </div>
</footer>
